{% load static %}

<html>
    <head>
        <title>THSECO2</title>
        <link rel="icon" type="image/gif/png/jpg" href="{% static 'images/logo.png' %}">

        <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">

        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'semantic/semantic.min.js' %}"></script>
    </head>
    <body>
    <!--Start of Navbar-->
    <div class="ui inverted pointing menu">
        <a class="item" href="{% url 'main:page1'%}">
          THSECO2
        </a>
    </div>
      <!--End of Navbar-->
      <div class="ui center aligned container" style="margin-top:80px;">
          {% block content %}
          {% endblock %}
      </div>

  </body>

  <script>
      $( document ).ready(function() {
        $('.ui.menu .item').on('click', function() {   
        $(this)
        .addClass('active')
        .siblings()
        .removeClass('active'); 
      })

      $('.ui.checkbox').checkbox();

      $("input[type='checkbox'].hidden").change(function(){
        var a = $("input[type='checkbox'].hidden");
        if(a.length == a.filter(":checked").length){
          $('input[type="submit"]').removeAttr('disabled');
        }
      });

      $('.ui.dropdown').dropdown();

    });
  </script>

  {% block script %}
  {% endblock %}

</html>