{% extends 'main/global-ui/header.html' %}

{% block content %}{% load static %}
<div class="ui two column centered grid">
    <div class="nine wide column">
        <div class="ui inverted segment">
            <form class="ui center aligned inverted form" method="POST">
                {% csrf_token %}
                <div class="five column fields" style="margin-top:20px;">
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="four wide field">
                        <label for="">Dominant Language</label>
                        <a href="{% url 'main:first_language'%}" class = "ui button orange" type="submit" style="width:130px;">{{data.first_language}}</a>
                    </div>
                    <div class="field"></div>
                    <div class="field"></div>
                </div>
                <div class="five column fields" style="margin-top:20px;">
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="four wide field">
                        <label for="">Second Language</label>
                        <a href="{% url 'main:second_language'%}" class = "ui button orange" type="submit" style="width:130px;">{{data.second_language}}</a>
                    </div>
                    <div class="field"></div>
                    <div class="field"></div>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}

{% endblock %}