{% extends 'main/global-ui/header.html' %}

{% block content %}{% load static %}
{% if messages %}
    {% for message in messages %}
        <div class="ui basic segment">
            <div class="{{ style }}"> {{ message }}</div>
        </div>
    {% endfor %}
{% endif %}


<div class="ui two column centered grid">
    <div class="nine wide column">
        <div class="ui inverted segment">
            <form class="ui center aligned inverted form" method="POST">
                {% csrf_token %}

                <div class="ui big blue label">
                    <i class="large money bill green alternate icon"></i>
                    >= 1000
                </div>
                <div class="ui inverted center aligned segment">
                        <audio width="2000px;" controls="controls" src="{% static 'audio/' %}{{audio_10_9}}" cont></audio>
                </div>
                <div class="four column fields" style="margin-top:20px;">
                    <div class="field"></div>
                    <div class="field">
                        <label for="">A</label>
                        {{form.A_amount}}
                    </div>
                    <div class="field">
                        <label for="">B</label>
                        {{form.B_amount}}
                    </div>
                    <div class="field"></div>
                </div>
                <div class="ui inverted right aligned segment">
                        <button id = "terms_btn" class = "ui icon button green" type="submit">
                            <i class="angle double right icon"></i>
                        </button>
                </div>
            </form>
        </div>
    </div>

</div>

<script>
    $( document ).ready(function() {

        $("#A_amount").on("change paste keyup", function() {
            var res = 1000 - $(this).val()
            $('#B_amount').val(res);
            
            if ($(this).val() > 1000){
                alert("Amount >= 1000");
                $(this).val('0');
                $('#B_amount').val(0);
            }

        });
    });
</script>
{% endblock %}
