{% extends 'main/global-ui/header.html' %}

{% block content %}{% load static %}
<div class="ui two column centered grid">
    <div class="fourteen wide column">
        <div class="ui inverted segment">
            <form class="ui center aligned inverted form" method="POST">
                {% csrf_token %}
                <label for="" class="ui large blue label">8.</label>
                <div class="three column fields" style="margin-top:20px;">
                    <div class="field">
                        <span>1.</span>
                        <audio width="2000px;" controls="controls" src="{% static 'audio/' %}{{audio_10_1}}" cont></audio>
                    </div>
                    <div class="field">
                        <span>2.</span>
                        <audio width="2000px;" controls="controls" src="{% static 'audio/' %}{{audio_10_2}}" cont></audio>
                    </div>
                    <div class="field">
                        <span>3.</span>
                        <audio width="2000px;" controls="controls" src="{% static 'audio/' %}{{audio_10_3}}" cont></audio>
                    </div>
                </div>
                <div class="three column fields" style="margin-top:20px;">
                    <div class="field">
                        <span>4.</span>
                        <audio width="2000px;" controls="controls" src="{% static 'audio/' %}{{audio_10_4}}" cont></audio>
                    </div>
                    <div class="field">
                        <span>5.</span>
                        <audio width="2000px;" controls="controls" src="{% static 'audio/' %}{{audio_10_5}}" cont></audio>
                    </div>
                    <div class="field">
                        <span>6.</span>
                        <audio width="2000px;" controls="controls" src="{% static 'audio/' %}{{audio_10_6}}" cont></audio>
                    </div>
                </div>
                <div class="three column fields" style="margin-top:20px;">
                    <div class="field">
                        <span>7.</span>
                        <audio width="2000px;" controls="controls" src="{% static 'audio/' %}{{audio_10_7}}" cont></audio>
                    </div>
                    <div class="field">
                        <span>8.</span>
                        <audio width="2000px;" controls="controls" src="{% static 'audio/' %}{{audio_10_8}}" cont></audio>
                    </div>
                    <div class="field">
                        <span>9.</span>
                        <audio width="2000px;" controls="controls" src="{% static 'audio/' %}{{audio_10_9}}" cont></audio>
                    </div>
                </div>
                <div class="six column fields" style="margin-top:20px;">
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field">
                        <a href="{% url 'main:withdraw'%}" class = "ui button orange" type="submit" style="width:130px;">WITHDRAW</a>
                    </div>
                    <div class="field">
                        <a href="{% url 'main:invest'%}" class = "ui button orange" type="submit" style="width:130px;">INVEST</a>
                    </div>
                    <div class="field"></div>
                    <div class="field"></div>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}

{% endblock %}