{% extends 'main/global-ui/header.html' %}

{% block content %}{% load static %}
<div class="ui two column centered grid">
    <div class="ten wide column">
        <div class="ui inverted segment">
            <form class="ui center aligned inverted form" method="POST">
                {% csrf_token %}
                <label for="" class="ui large blue label">8.</label>
                <div class="two column fields" style="margin-top:20px;">
                    <div class="field">
                        <span>1.</span>
                        <audio width="2000px;" controls="controls" src="{% static 'audio/' %}{{audio_10_1}}" cont></audio>
                    </div>
                    <div class="field">
                        <span>2.</span>
                        <audio width="2000px;" controls="controls" src="{% static 'audio/' %}{{audio_10_2}}" cont></audio>
                    </div>
                </div>
                <table class="ui basic table">
                    <tr>
                        <td class="right aligned">
                            <a href="{% url 'main:withdraw'%}" class = "ui button orange" type="submit" style="width:100px;">1</a>
                        </td>
                        <td class="left aligned">
                            <a href="{% url 'main:invest'%}" class = "ui button orange" type="submit" style="width:100px;" >2</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}

{% endblock %}