{% extends 'main/global-ui/header.html' %}

{% block content %}
<div class="ui two column centered grid">
    <div class="nine wide column">
        <div class="ui inverted segment">
            <form class="ui center aligned inverted form" method="POST">
                {% csrf_token %}
                <div class="field">
                    <label for="">Please select the language spoken at home (the language you're 
                        most comfortable with.).</label>
                    {{form.first_language}}
                </div>

                <div class="field">
                    <label for="">Please select the  language you fluently use aside from the language
                        you speak at home (you secondary language).</label>
                    {{form.second_language}}
                </div>
                <div class="ui inverted right aligned segment">
                    <button id = "terms_btn" class = "ui icon button green" type="submit">
                        <i class="angle double right icon"></i>
                    </button>
            </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}

{% endblock %}