{% extends 'main/global-ui/header.html' %}

{% block content %}
<div class="ui two column centered grid">
    <div class="nine wide column">
        <div class="ui inverted segment">
            <form class="ui center aligned inverted form" method="POST">
                {% csrf_token %}
                <div class="four column fields" style="margin-top:20px;">
                    <div class="field"></div>
                    <div class="field">
                        <label for="">3</label>
                        {{form.A_gain_loss}}
                        <button id = "a_btn" class = "ui button orange" style="margin-top:10px;">Generate Gain/(Loss)</button>
                    </div>
                    <div class="field">
                        <label for="">4</label>
                        {{form.B_gain_loss}}
                        <button id = "b_btn" class = "ui button orange" style="margin-top:10px;">Generate Gain/(Loss)</button>
                    </div>
                    <div class="field"></div>
                </div>
                <div class="ui inverted right aligned segment">
                    <button id = "terms_btn"  class="ui icon button green" type="submit">
                            <i class="angle double right icon"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
<script>
    $( document ).ready(function() {
        // var amin = -49.90;
        // var amax = 96.90;
        // var a = Math.floor(Math.random() * (amax - amin + 1)) + amin;
        // console.log(a)
        // $( "#a_btn" ).click(function() {
        //     //$('#A_gain_loss').val(a);
        //     console.log("a")
        //     //$('#A_gain_loss').val("{{a_output}}");
        //     //$('#a_btn').prop('disabled', true);
        // });

        // $( "#b_btn" ).click(function() {
        //     $('#B_gain_loss').val("{{b_output}}");
        //     $('#b_btn').prop('disabled', true);
        // });

        // $(function(){
        //     if($('#a_btn').prop('disabled') == true) { 
        //         alert('disabled'); 
        //     } 
        // });
        var amin = -49.90;
        var amax = 96.90;
      
        $( "#a_btn" ).click(function() {
            var a = (Math.floor(Math.random() * (amax - amin + 1)) + amin).toFixed(2);
            var aa = ((a/100) * '{{data.A_amount}}').toFixed(2);
            $('#A_gain_loss').val(aa);
            $('#a_btn').prop('disabled', true);
        });

        var bmin = -7.00;
        var bmax = 13.00;

        $( "#b_btn" ).click(function() {
            var b = (Math.floor(Math.random() * (amax - amin + 1)) + amin).toFixed(2);
            var bb = ((b/100) * '{{data.B_amount}}').toFixed(2);
            $('#B_gain_loss').val(bb);
            $('#b_btn').prop('disabled', true);
        });
    });
</script>
{% endblock %}
