{% extends 'main/global-ui/header.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="ui basic segment">
        <div class="ui red message"> {{ message }}</div>
    </div>    
    {% endfor %}
{% endif %}

<div class="ui two column centered grid">
    <div class="nine wide column">
        <div class="ui inverted segment">
            <form class="ui center aligned inverted form" method="POST">
                {% csrf_token %}
                <div class="four column fields" style="margin-top:20px;">
                    <div class="field"></div>
                    <div class="field">
                        <label for="">A</label>
                        {{form.A_gain_loss}}
                        <button id = "a_btn" class = "ui button orange" style="margin-top:10px;">Generate Gain/(Loss)</button>
                    </div>
                    <div class="field">
                        <label for="">B</label>
                        {{form.B_gain_loss}}
                        <button id = "b_btn" class = "ui button orange" style="margin-top:10px;">Generate Gain/(Loss)</button>
                    </div>
                    <div class="field"></div>
                </div>
                <div class="ui inverted right aligned segment">
                    <div class="ui buttons">
                        <a class="ui icon button" href="{% url 'main:page11'%}">
                            <i class="angle double left icon"></i>
                        </a>
                        <div class="or"></div>
                        <button id = "terms_btn"  class="ui icon button green" type="submit">
                                <i class="angle double right icon"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<script>
    $( document ).ready(function() {
        $( "#a_btn" ).click(function() {
            $('#A_gain_loss').val("{{a_output}}");
            $('#a_btn').prop('disabled', true);
        });

        $( "#b_btn" ).click(function() {
            $('#B_gain_loss').val("{{b_output}}");
            $('#b_btn').prop('disabled', true);
        });

        $(function(){
            if($('#a_btn').prop('disabled') == true) { 
                alert('disabled'); 
            } 
            // if($('#A_gain_loss').is(":empty")){
            //     alert("empty")
            // }
        });
    });
</script>
{% endblock %}
