{% extends 'main/global-ui/header.html' %}

{% block content %}

<div class="container-fluid" style= "width:80%;padding:5px;">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="container-fluid" style= "width:50%;padding:5px;">

<form action="" method="POST">
    {% csrf_token %}
    <legend>Personal Info</legend>
    <div class="form-group">
        <label class="col-form-label">ID Number</label>
        {{ form.idnumber }}
    </div>

    <div class="form-group">
        <label class="col-form-label">Last Name</label>
        {{ form.last_name }}
    </div>

    <div class="form-group">
        <label class="col-form-label">First Name</label>
        {{ form.first_name }}
    </div>

    <div class="form-group">
        <label class="col-form-label">Mobile Number</label>
        {{ form.mobile }}
    </div>

    <div class="form-group">
        <label class="col-form-label">Email Address</label>
        {{ form.email }}
    </div>

    <div class="form-group">
        <label class="col-form-label">Birthday</label>
        {{ form.birthday }}
    </div>

    <div class="form-group">
        <label class="col-form-label">College</label>
        {{ form.college }}
    </div>

    <div class="form-group">
        <label class="col-form-label">Degree</label>
        {{ form.degree }}
    </div>

    <div class="form-group">
        <label class="col-form-label">First Language</label>
        {{ form.language1 }}
    </div>

    <div class="form-group">
        <label class="col-form-label">Second Language</label>
        {{ form.language2 }}
    </div>

    <div class="text-right">
        <button class="btn btn-primary" type="submit">Next</button>
    </div>
</form>

</div>
  
{% endblock %}
