{% extends 'main/global-ui/header.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="{{ style }}"> {{ message }}</div>
    {% endfor %}
{% endif %}

<div class="container-fluid" style= "width:80%;padding:5px;">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<div class="container-fluid" style= "width:70%;padding:5px;">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset>
        <!--Options-->
            <div class="row justify-content-md-center"> 
                <legend>1. Question Here</legend>
            </div>
            <div class="row justify-content-md-center"> 
                <audio width="1000px;" controls="controls" src="#" cont></audio>
            </div>

            <div class="row justify-content-md-center"> 
                <div class="col-md-auto">
                    {{form.question1}}
                </div>
            </div>
          
        </fieldset>
        <div class="text-center" style = "margin-top:200px;"> 
            <button id = "Next" class="btn btn-primary" type="submit">Next</button>
        </div>
          
    </form>
</div>

{% endblock %}

